*{
    color: white;
}
.cart{
    margin: 100px;
}
.item{
    display: flex;
    gap: 40px;
    width: 800px;
    margin: 40px 80px;
}

.cart img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.cart button{
    height: 40px;
    width: 80px;
    margin: 15px;
}
