*{
    background-color: #020202;
  }
  .title{
    color: white;
    text-align: center;
  }
  .card-style{
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    /* background-color: #323136; */
  }